@use "@angular/material" as mat;
@import "variables";

mat-card-content {
  padding-top: 32px;
}

.default-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.default-alerts {
  margin-right: 16px;
  max-width: 400px;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 8px;
  margin-bottom: 8px;
}

.button-and-loading {
  display: flex;
  align-items: center;

  mat-spinner {
    margin-right: 16px;
  }
}

mat-error {
  text-align: right;
  padding-top: 4px;
  line-height: 1.5;
}

.expand-button {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.org-name {
  margin-bottom: 4px;
  margin-top: 32px;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.project-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  &:first-child {
    border-top: none;
  }
}

.project {
  width: 205px;

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: mat.get-color-from-palette(mat.$gray-palette, 700);
  }
  a {
    text-decoration: none;
  }
}

.underline {
  &::ng-deep .mat-button-toggle-label-content {
    text-decoration: underline;
  }
}
